.project
.classpath
.settings
target
target/*
*.iml
*.log
*/*.log/*
*.log.*
*.jdbc
*.drawio.bkp
*.drawio.dtmp
*~
*.bak
*.pmd
nbactions.xml
.idea/
nb-configuration.xml
*/node_modules/*
*.DS_Store
*/mm/*
/pfs-rest-war/nbproject/
/productdata-war/nbproject/
/productdata-rs/nbproject/
**/bin/*
**/dependency-reduced-pom.xml
pricing-docker/dbbackups/*
LOCAL.env
LOCAL-ora.env
DEV.env
DEV-ora.env
.env
